*{
    background-color: #DBC4A2 ;
    margin: 0px;
    padding: 0px;
    border-radius: 20px;
    text-align: center;

}
.navbar {
    width: 100%;
    height: 40px;
    text-align: center;
    margin: 10px;
    }
a {
    color: #3c4d40;
    margin: 100px;
    text-decoration: none;
    
}
a:hover {
    background-color: #c4beaf;
}
a:active {
    color: #e0ccae ;
}
.container {
 margin-top: 20px;
    margin-bottom: 0px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
 
}
.card {
    display: block;
    flex-direction: column;
    width: 25%;
    text-align: center;
    padding: 20px;
    box-shadow: 0px 6px 23px 4px rgb(0,0,0 / 8%);
    
}
.card:hover {
padding-top: 2px solid black;
opacity: 0.6;
transition: 0.3;
box-shadow: 0px 6px 23px 4px rgb(0,0,0 / 10%) ;
}

#footer{
    color: black;
  }
.footer{
    display: flex;
  
  }
.right{
    display: flex;
    
  }
